html {
	font-size: 125%;
	background-image: linear-gradient( to right, #9792e3, #392759);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
	}

body {
	font-family: "Arial", sans-serif;
	color: white;
	margin: 0;
	}
	
.header {
	font-size: 2em;
	font-weight: bold;
	width: 100%;
	padding: 1em;
	background-color: orange;
	color: white;
	}
	
.title {
	font-size: 2em;
	font-weight: bold;
	width: 100%;
	color: orange;
	padding: 1em;
	border-bottom: 10px solid orange;
	}

.main-cont {
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	}
	
.main {
	text-align: center;
	font-size: 6em;
	font-family: 'Kanit', sans-serif;
	font-weight: 900;
	margin-bottom: -0.5em;
	}
	
p {
	text-align: center;
	font-size: 1.5em;
	font-family: 'Kanit', sans-serif;
	font-weight: 200;
	margin-bottom: 0.5em;
	margin: 1em;
	}

.button {
	border: 2px solid white;
	color: white;
	padding: 1em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 4px 2px;
	cursor: pointer;
	position: absolute;
	transform: translate(-50%);
	left: 50%;
	}
	
.footer {
	font-size: 1em;
	position: absolute;
	bottom: 0;
	right: 0;
	text-align: right;
	margin: 0.5em;
	}
	
a {
	color: white;
	}
	
.about {
	font-size: 1em;
	}