html {
	font-size: 1.25em;
	width: 100%;
	height: 100%;
	}

body {
	font-family: "Arial", sans-serif;
	color: black;
	margin: 0;
	background-color: #00BFA5;
	}
	
b {
	color: #00BFA5;
	}

a {
	color: #00BFA5;
	}
	
.header {
	font-size: 3em;
	font-weight: bold;
	padding: 0.5em;		
	font-family: 'Kanit', sans-serif;
	font-weight: 800;
	color: white;
	border-bottom: 2px solid black;
	}
	
p {
	font-size: 1em;
	font-weight: normal;
	line-height: 1.5;
	margin-top: 0;
	word-wrap: break-word;
	}
	
.cont {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
	}
	
.title {
	font-size: 2em;
	color: white;
	font-family: 'Kanit', sans-serif;
	border-bottom: 2px solid black;
	font-weight: bold;
	margin-top: 1em;
	padding-bottom: 1em;
	}

.subtitle {
	font-family: "Arial", sans-serif;
	color: white;
	font-size: 1em;
	}

.follow {
	text-decoration: underline;
	cursor: no-avalible;
	}
	
.publi {
	border: 2px solid black;
	margin-top: 1em;
	padding: 1em;
	padding-bottom: 0;
	background-color: white;
	}
	
.user {
	font-family: 'Kanit', sans-serif;
	color: #00BFA5;
	font-weight: bold;
	text-decoration: none;
	}

audio {
	margin-top: 1em;
	width: 100%;
	}
	
img {
	margin-top: 1em;
	max-width: 100%;
	height: auto;
	}
